<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dynamic Panel Grid Layout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="Navbar">
        <div class="Logo">

        </div>
        <div class="Product">
            <span>Dynamic Panel Grid Layout</span>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer>
        <div>
            <p>&copy; @DateTime.Now.Year - Wilton-Brown</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/panels")
    @RenderSection("scripts", required: false)
</body>
</html>
